<div class="movie-banner"> 
        <div class="text-container"> 
            <h1 class="banner-title">Coming Soon</h1>
            <h2 class="movie-title">Header Text</h2> 
            <p class="movie-description">
                Long text with 
                <span class="text-blue-500">P tag</span>.
            </p> 
            <button class="btn is-secondary has-icon">
                Watch Trailer
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                </svg>                  
            </button> 
        </div> 
</div>