<app-upcoming-movie-banner></app-upcoming-movie-banner>
<div class="section-container">
    <section class="section">
        <div class="step-container">
            <img src="https://source.unsplash.com/random/300x200" alt="" class="step-img">
            <div class="step-description">
                <h2>Find Movie</h2>
                <p>Search for movies playing in theaters near you and check showtimes.</p>
                <a href="#" class="btn is-secondary">Learn More</a>
            </div>
        </div>
        <div class="separator"></div>
    </section>

    <section class="section">
        <div class="step-container">
            <div class="step-description">
                <h2>Book Tickets</h2>
                <p>Book your tickets seamlessly for your selected movie and showtime.</p>
                <a href="#" class="btn is-secondary">Learn More</a>
            </div>
            <img src="https://source.unsplash.com/random/300x200" alt="" class="step-img">
        </div>
        <div class="separator"></div>
    </section>

    <section class="section">
        <div class="step-container">
            <img src="https://source.unsplash.com/random/300x200" alt="" class="step-img">
            <div class="step-description">
                <h2>Enjoy Your Movie</h2>
                <p>Head to the theater, show your e-ticket, and enjoy your movie!</p>
                <a href="#" class="btn is-secondary">Learn More</a>
            </div>
        </div>
        <div class="separator"></div>
    </section>
</div>